{% load thumbnail %}
{{ product.product_name }} ({{ product.product_price }})<br><br>
{% thumbnail product.product_image "250x250" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">  250x250
{% endthumbnail %}<br><br>
{% thumbnail product.product_image "600x600" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">  600x600
{% endthumbnail %}<br><br>
<img src="{{ product.image_url }}">  original
