{% load my_tags %}
{% for product in products %}
      <li>
        <a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a>
          ({{product.product_price}})
      </li>
{% endfor %}
{% if is_paginated %}
  {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">First</a>
    {% if page_obj.previous_page_number != 1 %}
      <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
    {% endif %}
  {% endif %}

  Page {{ page_obj.number }} of {{ paginator.num_pages }}

  {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
      <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
  {% endif %}

  <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
{% endif %}
<div>
    <form method="get" action="{% url 'products:products' %}">
    <p>Price min: <input type="text" value={{min}} name="min"/></p>
    <p>Price max: <input type="text" value={{max}} name="max"/></p>
    <p><input type="submit" name="submit" value="submit"/></p>
</form>
</div>
